/* admin.jsp */
.fixed-profile-panel {
  top: 1rem;
  right: 1rem;
  background-color: #0d1117;
  color: #f0f6fc;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

main p{
      color: #0d1117;
    }
